{% extends './base.html' %}

{% block body %}
    <div class="container">
        <div data-aos="fade-up">
            <h3>About Gao Mi</h3>
            <div class="about">
                <p>Oh hey, I'm Gao Mi, liking reading, writing, music and  football</p>
            </div>
            <h3>Contact</h3>
            <div class="about">
                <p>Have more questions? you can send email to me</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;<a href="mailto:{{ email }}">gaomibuy@hotmail.com</a></p>
            </div>  
        </div>
    </div>

{% endblock %}